@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

:root {
  --colorPrimary: #EBEBEB;
  --colorSecudary: #2D2D2D;
  --colorTema: #3DDECE;
}

body {
  font-family: 'Roboto', sans-serif;
color: var(--colorSecudary);
}

/* menu */
.navbar-brand{
  color: var(--colorPrimary);
}
.navbar-brand:hover{
  color: var(--colorTema);
}
.btn-menu{
  color: var(--colorTema);
  border: none;
  background-color: transparent;
  font-size: 30px;
}
.nav-link{
  color: var(--colorPrimary);
}
.nav-link:hover{
  color: var(--colorTema);
}

.icons-social-menu{
  font-size: 24px;
}

/* home */

.carousel-caption h5 {
  color: var(--colorSecudary);
}
.btn-home{
  color: var(--colorSecudary);
  border: 1px solid var(--colorSecudary);
}
.btn-home:hover{
  background-color: var(--colorTema);
}
.letter-cita{
  font-weight: 900;
}
.corrida{
  font-family: 'Caveat', cursive;
}

/* acerca de mi */
.titulo-pri{
  margin-top: 80px;
  
}
.imgen-acerca{
  width: 400px;
}
.colorName{
  color: var(--colorPrimary);
}
.cont-profesional{
  background-color: var(--colorTema);
}
.acerca-logo-social{
  color: var(--colorSecudary);
  margin-right: 20px
  ;
}
.acerca-logo-social:hover{
  color: var(--colorTema);
}


/* profesional */
.btn-card:hover{
  background-color: var(--colorTema);
  color: var(--colorSecudary);
}
.linea-color{
  border-right: 2px solid var(--colorTema);
}